/* font import from "font-awesome cdnjs"*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    /* header it always stays in the same place even if the page is scrolled. */
    z-index: 999;
    /* The page header is always visible and no other element covers it. */
    display: flex;
    /* Makes a space between the elements chailed from the parents element. */
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    /* It removes any line under the links. */
    color: #B31312;
    text-transform: uppercase;
    /* To change the entire text to uppercase or lowercase letters. */
    font-weight: 700;
    /* Thickness of the text */
    font-size: 1.8em;
    /* Change the font size so that it is relative to the body size so em was used. The default body size is 16px. */

}

.navigation a {
    color: #B31312;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: 30px;
}

.navigation a:hover {
    color: #070A52;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    /* I used min-height to be the minimum starting height from it. I used vh to cover the entire part I see in mine. */
    display: flex;
    align-items: center;
    background: url(../assets/Images/background.jpg) no-repeat;
    /* I selected an image downloaded from the device and it was given attribute no-repeat.*/
    background-size: cover;
    /*I was give background-size attribute cover size image to match the size of the section.*/
    background-position: center;
    background-attachment: fixed;
    /* I made the background when scroll down the screen stay fixed until the whole picture is gone */
}

.main h2 {
    color: #F86F03;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #F1C376;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #F86F03;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    /* Put a space between the letters by 1px. */
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #FFF4F4;
    background-color: #FFA41B;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    /* I used the transition attribute to help me format the size of the button be slower 0.7 sec. */
}

.main-btn:hover {
    background-color: #F86F03;
    transform: scale(1.1);
}

.social-icon a {
    color: #FFF4F4;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #F86F03;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* Arrange the cards in rows. */
    flex-wrap: wrap;
    /* The format of the cards is preserved so that when the cards are increased or the screen size is different, the cards are rearranged without affecting their size. */
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 13px rgba(1 1 1 /15%);
    /* The shadow of the box takes 4 values, the first is the direction of the shadow up or down (+,-), the second value is the direction of the shadow to the right or left (+,-), the third value is the extent of transparency, the fourth value is the color. */
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #F86F03;
    text-align: center;
    font-size: 8em;
}

.info {
    text-align: center;
}

.info h3 {
    color: #F86F03;
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px;
}

.info p {
    font-size: 0.9em;
}

.projects {
    background-color: #6e6d68;
}

.projects .content {
    margin-top: 30px;
}

.project-cart {
    background-color: #fff;
    border: 2px solid #F86F03;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-cart:hover {
    transform: scale(1.1);
}

.project-image img {
    width: 100%;
}

.project-cart:hover .project-image {
    opacity: 0.9;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #B31312;
}

.more-details:hover {
    color: #F86F03;
}

.cards-contact .icon {
    font-size: 4.5em;
}

.cards-contact .info h3 {
    color: #000;
}

.cards-contact .info p {
    font-size: 1.5em;
}

footer {
    background-color: #6e6d68;
    color: #fff;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #F86F03;
}

footer .social-icon {
    font-size: 0.8em;
    padding: 0 10px 0 0;
}

@media (max-width: 1023px) {

    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main h2 {
        font-size: 1em;
    }

    .main h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 641px) {
    body {
        font-size: 12px;
    }

    .main h2 {
        font-size: 0.8em;
    }

    .main h3 {
        font-size: 1.4em;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 10px;
    }

    .main h2 {
        font-size: 0.8em;
    }

    .main h3 {
        font-size: 1.4em;
    }
}